# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
out/
*.class

# =========================
# Build folders
# =========================
build/
target/

# =========================
# Logs & outputs
# =========================
output.txt
*.log

# =========================
# Eclipse
# =========================
.classpath
.project
.settings/
bin/

# =========================
# NetBeans
# =========================
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store